body { 
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: white;
    background-color: #1d2036;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar{
    width: 165px;
    background-color: #25283e;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: fixed;
    height: 100%;
    align-items: center;
}

.sidebar img{
    width: 100%;
    max-width: 100px;
    margin-left: 5px;
    align-items: center;
    padding: 10px;
}

.horizontal-line{
    border-bottom: 1.5px solid #3a4152; 
    width: 93%; 
    margin-bottom: 10px;
}


.sidebar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* items stack vertically*/
}

.sidebar nav ul li {
    padding: 0px 5px 5px 5px;
   
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    width: 140px;
    height: 35px;
    font-size: 12px;
    display: flex;    
    align-items: center;  
    justify-content: flex-start; 
    padding-left: 5px;
    border-radius: 5px;
}

.sidebar nav ul li a:hover {
    color: white;
    background-color: #ce3c77;
}

.sidebar nav ul li a img {
    width: 16px; 
    height: 16px;
    margin-left: 0px;
}

h1{
    font-weight: bold;
    padding: 0px 5px 5px 0px;
}

h2{
    padding-top: 10px;
    margin-left: 15px;
    font-size: 16px;
}

h3{
    padding-top: 10px;
    margin-left: 15px;
    font-size: 16px;
    color: #bbbbbb;
}

.section-gap ul li{
    color: #bbbbbb;
}

.page-location{
    color: #dedede;
    font-size: 10px;
}

.main-content{
    margin-left: 180px;
    background-color: #1d2036;
    padding: 8px 20px 20px 20px;
    flex-grow: 1;
}

.section-gap {
    margin-bottom: 15px;
    color: white;
    background-color: #25283e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    padding-bottom: 10px;
    border-radius: 10px;
}

.btn-green{
    color: white;
    background-color: #74ad5a;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 10px;
    align-items: center;
    border: none;
    width: 85px;
    height: 35px;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.btn-green:hover, .btnActivate:hover{
    background-color: #3f662c;
}

.btn-blue{
    color: white;
    background-color: #5984ed;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 20px;
    align-items: center;
    border: none;
    width: 85px;
    height: 35px;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.btn-blue:hover{
    background-color: #244189;
}

.btnActivate{
    color: white;
    background-color: #74ad5a;
    margin-right: 5px;
}

label{
    margin-left: 15px;
    color: #bbbbbb;
}

input{
    background-color: #3a4152;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    width: 250px;
    height: 28px;
    margin-left: 5px;
    box-sizing: border-box;
    padding-left: 10px;
}

input:focus {
    outline: none;
    border: 1px solid white;
}

.input-file{
    background-color: #25283e;
}

.custom-checkbox{
    align-items: center;
    font-size: 14px;
    height: 20px;
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

table {
    border-collapse: collapse;
    background-color: #25283e; 
    color: white;
    text-align: left;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
}

th, td {
    padding: 12px 15px; 
    text-align: left; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

th {
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    background-color: #3a4152;
    color:white;
    
}

tr:hover, tr:nth-child(even):hover{
    color: #3a4152;
    background-color: white;
}

tr:nth-child(even) {
    background-color: #3a4152;
    color: white;
}

td:first-child, th:first-child {
    padding-left: 20px; 
}

td:last-child, th:last-child {
    padding-right: 20px; 
}

/* Round the bottom-left and bottom-right corners (only for the last row) */
tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}  

.btnRemove, .btn_remove_sop, .btn_remove_model, .btn_remove_instruc{
    background-color: red;
    margin-right: 5px;
}

.btnRemove:hover, .btn_remove_sop:hover, .btn_remove_model:hover, .btn_remove_instruc:hover{
    background-color: #810101;
}

.btnEdit{
    background-color: #ffbc58;
    
}

.btnEdit:hover{
    background-color: #bc750a;
}

.btnUnactivate:hover{
    background-color: #737373;
    color: white;
}

.btnActivate, .btnUnactivate{
    width: 60px;
    height: 30px;
}

.table img{
    width: 100%;
    max-width: 100px;
    align-items: center;
    padding: 3px;
}

.table button{
    width: 20px;
    height: 20px;
}

video{
    margin-left: 5px;
}
